<%= cache support_thread do %>
  <div class="support-thread">
    <div class="row">

      <div class="col">
            <%= link_to help_center.support_thread_path(support_thread) do %>
        <h4>
           <%= support_thread.title %>
        </h4>

        <p class="text-muted"><%= truncate(support_thread.content.to_plain_text, length: 200) %></p>

        <div class="thread-details">
            <%= t('content_updated_at', update_time: time_ago_in_words(support_thread.created_at)) %>
        </div>
        <% end %>
      </div>

     <% if HelpCenter.enable_comments %>
      <div class="col-sm-1 text-center">
        <%= link_to help_center.support_thread_path(support_thread), class: "thread-posts-count" do %>
          <span class="count"><%= support_thread.support_posts_count %></span>
          <small><%= t("post", count: support_thread.support_posts_count) %></small>
        <% end %>
      </div>
    <% end %>

    </div>
  </div>
<% end %>
