<% if @support_threads.none? %>

    <div><%= t('search_not_found') %>. <%= t('check_out') %> <%= link_to t('latest_questions'), help_center.support_threads_path %> <%= t('instead') %> </div>

<% else %>
<div class="container">
    <% if request.url.include?('category') %>
      <%# If category, list all articles %>
      <div class="col-12 text-left p-0">
        <h3> <%= @support_threads.first.support_category.name %></h3>
      </div>
      <%= render partial: "help_center/support_threads/support_thread", collection: @support_threads, spacer_template: "shared/spacer" %>

      <div class="support-threads-nav text-center">
      <%= will_paginate @support_threads, url_builder: help_center, renderer: HelpCenter::BootstrapLinkRenderer %>
     </div>

    <% else %>
     <%# Set default index here %>

  <% end %>
</div>
<% end %>
