<% if SupportCategory.none? %>
    <div><%= t('search_not_found') %>. <%= link_to t('browse_categories'), help_center.support_categories_path %> <%= t('instead') %> </div>
<% else %>
<div class="px-4 py-10 mb-6 text-white bg-gray-100	text-4xl text-4xl md:px-20 lg:px-40 xl:px-56 font-bold">
    <h1 class="text-gray-900">Documentation</h1>
    <p class="text-2xl text-gray-500 font-normal mt-4">Explore our guides and examples</p>
</div>
<div class="px-4 pt-4 md:px-20 lg:px-40 xl:px-56">
  <div class="bg-white shadow overflow-hidden sm:rounded-md">
    <ul role="list" class="divide-y divide-gray-200">
      <% SupportCategory.sorted.each do |category| %>
        <li>
          <%= link_to help_center.support_category_path(category), class: "block hover:bg-gray-50" do %>
            <div class="flex items-center px-4 py-4 sm:px-6">
              <div class="min-w-0 flex-1 flex items-center">
                <div class="flex-shrink-0">
                  </div>
                <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                  <div>
                    <p class="text-base font-medium text-gray-600 truncate"><%= category.name %></p>
                    <p class="mt-2 flex items-center text-sm text-gray-400">
                      <span class="truncate"><%= category.description %></span>
                    </p>
                  </div>
                
                </div>
              </div>
              <div>
                <!-- Heroicon name: solid/chevron-right -->
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>


 
