<% if SupportCategory.none? %>
    <div><%= t('search_not_found') %>. <%= link_to t('browse_categories'), help_center.support_categories_path %> <%= t('instead') %> </div>
<% else %>
<div class="flex flex-wrap mb-8">
 
  <div class="md:w-full pr-4 pl-41">
    <h1 class="mb-4 font-bold tracking-normal"> Categories</h1>
 
     <div class="flex flex-col items-center">
    <% SupportCategory.all.sorted.each do |category| %>
  
     <%= link_to  help_center.support_category_path(category), class: "text-base font-semibold py-4 border-b w-full flex justify-between hover:bg-gray-200 px-4" do %>
       <%= category.name %> <i class="fas fa-arrow-right"></i>
     <% end %>

    <% end %>
    </div>
  </div>

</div>
<% end %>
