<div class="flex flex-wrap mb-8">
  <%= render partial: "shared/category_actions" if is_moderator_or_owner?(@category)%>
  <div class="md:w-full pr-4 pl-41">
    <h1 class="mb-4 font-bold tracking-normal"> <%= @category.name %></h1>
    <% if @category.description %>
     <%= @category.description %>
    <% end %>
     <div class="flex flex-col items-center">
    <% @category.support_threads.sorted.each do |thread| %>
  
     <%= link_to help_center.support_thread_path(thread), class: "text-base font-semibold py-4 border-b w-full flex justify-between hover:bg-gray-200 px-4" do %>
       <%= thread.title %> <i class="fas fa-arrow-right"></i>
     <% end %>

    <% end %>
    </div>
  </div>

</div>
