<div>
  <% SupportCategory.sorted.each do |category| %>
    <div data-controller="toggle" class="py-2 my-1 overflow-x-auto bg-white rounded shadow-inner-sm" data-toggle-open-value="<%= (@category.present? && @category == category) ? "true" : "false" %>">
      <button class="mb-0 text-gray-700 font-medium text-base hover:text-gray-900" data-action="click->toggle#toggle">
      <i class="fas fa-sort-down mr-2"></i>
      <%= category.name %>
      </button>
      <div data-toggle-target="toggleable" class="<%= (@category.present? && @category == category) ? "" : "hidden" %>" >
        <ul class="list-none leading-loose pl-6">
          <% threads = SupportThread.where(support_category_id: category.id).order(:position) %>
          <% threads.each do |thread| %>
            <li>
              <%= link_to help_center.support_thread_path(thread), class: "text-base font-normal text-gray-500 hover:text-gray-700" do %>
                <%= thread.title %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>