<!DOCTYPE html>
 <html class="h-full antialiased">
 <head>
  <title>
    <% if content_for?(:title) %>
      <%= yield :title %> |
    <% end %>
    <%= Jumpstart.config.application_name %>
  </title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= viewport_meta_tag %>

  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  
  <%# Be sure to add your own custom favicons %>
  <%= render partial: "shared/favicons" %>
  <%= render partial: "shared/meta" %>

  <%# Google Anaytics %>
  <%= render partial: "shared/analytics" %>

  <%# Replace this with your FontAwesome Pro Kit code %>
  <script defer src="https://kit.fontawesome.com/12141444fc.js" crossorigin="anonymous"></script>

  <%# Fonts %>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">


    <style>
        [data-toggle-open-value="false"] .fa-sort-down {
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    </style>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

  </head>

<body class="flex h-full overflow-x-hidden font-sans font-normal leading-normal bg-white">
  <div class="flex flex-wrap flex-grow items-start justify-between main pb-10">
    <%= render partial: "shared/admin_actions" %>
    <div class="flex flex-col w-full px-4 pt-4 md:w-1/5 lg:px-8">
      <div class="text-lg mb-4 text-black">
        <%= link_to help_center_path do %>
         <%= render_svg "logo" %>
        <% end %>
      </div>
      <div>
      <%= render partial: "shared/sidebar_actions" %>
      </div>
    </div>
    <div class="flex flex-col w-full h-full bg-white border-l border-gray-300 md:w-4/5 docs-main">
      <% if current_page?(help_center_path) %>
        <% if SupportCategory.all.count > 0 %>
          <% @support_thread = SupportCategory.sorted.first.support_threads.sorted.first %>
          <div class="container mx-auto">
            <div class="flex flex-wrap mb-8">
              <% if is_moderator_or_owner?(@support_thread) %>
                <div class="flex w-full pr-4 pl-4 justify-end">
                  <%= link_to icon("fas","pencil"), help_center.edit_support_thread_path(@support_thread),
                    class: "text-muted",
                    data: { toggle: "tooltip", placement: "left" },
                    title: t('edit_this_thread') %>
                </div>
              <% end %>
              <div class="md:w-full pr-4 pl-41">
                <small class="mb-2"><%= support_category_link(@support_thread.support_category) %> > <%= @support_thread.title %></small>
                <h1><%= icon "fas", "thumb-tack", class: "text-muted" if @support_thread.pinned? %> <%= @support_thread.title %></h1>
              </div>

            </div>
            <%= @support_thread.content %>
          </div>
        <% end %>
      <% else %>
        <%= yield %>
      <% end %>
 
    </div>
  </div>
 
  <link rel="stylesheet"
      href="//unpkg.com/@highlightjs/cdn-assets@11.3.1/styles/default.min.css">
  <script src="//unpkg.com/@highlightjs/cdn-assets@11.3.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
</body>
<html>
