 <!DOCTYPE html>
 <html class="h-full antialiased">
 <head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
 </head>




<body class="flex h-full overflow-x-hidden font-sans font-normal leading-normal bg-offwhite">
  <div class="flex flex-wrap flex-grow items-start justify-between main">
  <% if current_user && (current_user.admin? || current_user.moderator?) %>
  <div class="top-0 flex justify-between w-full z-50 bg-blue-600 text-purple-200 text-sm text-center font-brand-semibold px-4 py-3 rounded" role="alert">
     <span class="text-base font-normal text-white">Welcome moderators (<%= current_user.email %>)</span>
    <div>
    <%= link_to t('add_an_article'), help_center.new_support_thread_path, class: "text-gray-100 hover:text-gray-300 hover:no-underline font-semibold underline mr-4 ml-6" %>
    <%= link_to t('add_category'), help_center.new_support_category_path, class: "text-gray-100 hover:text-gray-300  hover:no-underline font-semibold underline" %>
    </div>
  </div>
<% end %>
    <div class="flex w-full px-4 pt-4 md:w-1/5 lg:px-8">
      <div class="text-lg">
        <a class="block" href="/hq"><img src="https://www.pasilobus.com/assets/logo-713c713b2ca720ef466ab2b9b505d925d7678a8c9accf099b9d2f7f35097425f.svg"></a>

        <% SupportCategory.sorted.each do |category| %>
          <h4 class="mt-4 font-semibold mb-1 text-gray-800"><%= category.name %></h4>
          <ul class="list-none leading-loose">
            <% threads = SupportThread.where(support_category_id: category.id).order(:position) %>
            <% threads.each do |thread| %>
              <li>
                <%= support_link_to help_center.support_thread_path(thread) do %>
                  <%= thread.title %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col w-full h-full bg-white border-l border-gray-400 md:w-4/5 docs-main">
      <% if current_page?(help_center_path) %>
      <!--hello-->
        <% if SupportCategory.all.count > 0 %>
          <% @support_thread = SupportCategory.sorted.first.support_threads.sorted.first %>
          <div class="container mx-auto">
            <div class="flex flex-wrap mb-8">
              <% if is_moderator_or_owner?(@support_thread) %>
                <div class="flex w-full pr-4 pl-4 justify-end">
                  <%= link_to icon("fas","pencil"), help_center.edit_support_thread_path(@support_thread),
                    class: "text-muted",
                    data: { toggle: "tooltip", placement: "left" },
                    title: t('edit_this_thread') %>
                </div>
              <% end %>
              <div class="md:w-full pr-4 pl-41">
                <small class="mb-2"><%= support_category_link(@support_thread.support_category) %> > <%= @support_thread.title %></small>
                <h1><%= icon "fas", "thumb-tack", class: "text-muted" if @support_thread.pinned? %> <%= @support_thread.title %></h1>
              </div>

            </div>
            <%= @support_thread.content %>
          </div>
        <% end %>
      <% else %>
        <%= yield %>
      <% end %>
      
    </div>
  </div>
</body>
<html>

