 
  <style>
      [data-toggle-open-value="false"] .fa-sort-down {
      -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
  }
  </style>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"  crossorigin="anonymous"></script>
   
  <div class="flex flex-wrap flex-grow items-start justify-between main">
   <%= render partial: "shared/admin_actions" %>
    <div class="flex flex-col w-full px-4 pt-4 md:w-1/5 lg:px-8">
      <div class="text-lg mb-4">
        <%= link_to help_center_path do %>
         <h3 class="font-bold">Docs</h3>
        <% end %>
      </div>
      <div>
      <%= render partial: "shared/sidebar_actions" %>
      </div>
    </div>
    <div class="flex flex-col w-full h-full bg-white border-l border-gray-300 md:w-4/5 docs-main">
      <% if current_page?(help_center_path) %>
        <% if SupportCategory.all.count > 0 %>
          <% @support_thread = SupportCategory.sorted.first.support_threads.sorted.first %>
          <div class="container mx-auto">
            <div class="flex flex-wrap mb-8">
              <% if is_moderator_or_owner?(@support_thread) %>
                <div class="flex w-full pr-4 pl-4 justify-end">
                  <%= link_to icon("fas","pencil"), help_center.edit_support_thread_path(@support_thread),
                    class: "text-muted",
                    data: { toggle: "tooltip", placement: "left" },
                    title: t('edit_this_thread') %>
                </div>
              <% end %>
              <div class="md:w-full pr-4 pl-41">
                <small class="mb-2"><%= support_category_link(@support_thread.support_category) %> > <%= @support_thread.title %></small>
                <h1><%= icon "fas", "thumb-tack", class: "text-muted" if @support_thread.pinned? %> <%= @support_thread.title %></h1>
              </div>

            </div>
            <%= @support_thread.content %>
          </div>
        <% end %>
      <% else %>
        <%= yield %>
      <% end %>
 
    </div>
  </div>
 
  <link rel="stylesheet" href="//unpkg.com/@highlightjs/cdn-assets@11.3.1/styles/default.min.css">
  <script src="//unpkg.com/@highlightjs/cdn-assets@11.3.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
 
 <% parent_layout("application") %>